#flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap:2em;
  }
  
  #flexbox > div {
    border: 1px solid #000;
    background-color: #ff0000;
    flex: 1 1 auto;
    width: 100px;
    height: 50px;
  }